body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #fff;
}

hr {
	border: none;
	border-bottom: solid 1px black; 
	height: 1px;
	background: black;	
}
td.top_ruler{
	background-color: #CCC;
	/*background-color: #9999FF;*/
	
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #5555FF;
	text-decoration: none;
} 

a:link {
	color: #5555FF;
	text-decoration: none;
}

a.mailto:hover {
	color: black;
	text-decoration: underline;
}

a.mailto:link {
	color: black;
	text-decoration: underline;
}

a.mailto:visited {
	color: black;
	text-decoration: underline;
}

a.history:hover {
	color: black;
	text-decoration: underline;
}

a.history:link {
	color: black;
	text-decoration: underline;
}

a.history:visited {
	color: black;
	text-decoration: underline;
}

.pageHeader {
	font-weight: bold;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.headerText {
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.headerLinks {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9999FF;
  background-color: white;
	text-decoration: none;
}

a.headerLinks:hover {
	color: #5555FF;
	text-decoration: none;
}

a.headerLinks:link {
	color: #5555FF;
	text-decoration: none;
}

a.headerLinks:visited {
	color: #5555FF;
	text-decoration: none;
}

.lookupBox {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.footer {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.listHeading {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: white;
  background-color: #555555;
	text-decoration: none;
}

.listSubHeading {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  	background-color: #555555;
	text-decoration: none;
}

a.listHeading:hover {
	color: white;
	text-decoration: none;
}

a.listHeading:visited {
	color: black;
	text-decoration: none;
}

a.listHeading:link {
	color: white;
	text-decoration: none;
}


.listRowShaded {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: #DDDDFF;
	text-decoration: none;
}

.listRowUnshaded {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.listRowText {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.listRowSmall {
	font-weight: normal;
	font-size: 10px;
}

a.listRow:hover {
	color: black;
	text-decoration: none;
}

a.listRow:visited {
	color: black;
	text-decoration: none;
}

a.listRow:link {
	color: black;
	text-decoration: none;
}


.tableNote {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.editColumnTitle {
	font-weight: bold;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.editColumnText {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
}

.formError {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: red;
  background-color: white;
	text-decoration: none;
}

.historyName {
  font-style: italic;
	font-size: 10px;
}

.help {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
  background-color: white;
	text-decoration: none;
  line-height: 1.5;
  vertical-align: baseline;
}

.helpImage {
}

.button {
  font-weight: bold;
  text-align: left;
  font-family : verdana, helvetica, sans serif;
  font-size: 10px;
  text-decoration: none;
  color: #000000;

  padding: 2 5 2 5;
  background-color: #8888FF;
  border-style: solid;
  border-color: #DDDDDD #5555FF #5555FF #DDDDDD;
  border-top-width: 2;
  border-left-width: 2;
  border-right-width: 2;
  border-bottom-width: 2;
}
.smalltext {
  font-family: Verdana, Arial;
  font-size: small;
}