<Context path="itracker" reloadable="true" >
    <!--
 <ResourceLink name="itracker" global="itracker" type="javax.naming.Context"/>
 <ResourceLink name="itracker/mail/Session" global="itracker/mail/Session" type="javax.mail.Session"/>
 <ResourceLink name="jdbc/itracker_ds" global="jdbc/itracker_ds" type="javax.sql.DataSource" />
    -->
</Context>

<!--
Example on GlobalNamingResources in server.xml:

<Server>
...
<GlobalNamingResources>

Mailsession for JNDI:
    <Resource name="itracker/mail/Session"
	      auth="Container" 
	      type="javax.mail.Session" 
	      mail.smtp.host="mail.example.com" 
	      mail.smtp.auth="false" 
	      mail.from="itracker@example.com"

	      />
	      <!-
	      If you want to use authentification:
	      mail.smtp.user="itracker@example.com" 
	      password="myPassword"
          mail.smtp.auth="true"

          for SMTPS:
          mail.transport.protocol.rfc822="smtps"
          mail.smtp.starttls.enable="true"

	      ->

Datasource from JNDI:
    <Resource name="jdbc/itracker_ds" scope="Shareable" type="javax.sql.DataSource"
                                url="jdbc:mysql://localhost/itracker?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true"
                                driverClassName="com.mysql.jdbc.Driver"
                                username="itracker"
                                password="..."
                                maxWait="300"
                                maxActive="50"
                                maxIdle="10"

                                validationQuery="SELECT 1"
                                testOnBorrow="true"
                                testWhileIdle="true"
                                timeBetweenEvictionRunsMillis="10000"
                                minEvictableIdleTimeMillis="60000" />

How-to override application.properties values: 
<Environment name="itracker/max_attachment_size" type="java.lang.Integer" value="3072"/>
<Environment name="itracker/web_session_timeout" type="java.lang.Integer" value="300"/>
...
</GlobalNamingResources>
...
</Server>-->
