<Context path="itracker" reloadable="true" >
    <Resource name="itracker/mail/Session"
              auth="Container" 
              type="javax.mail.Session" 
              
              mail.smtp.host="${mail.smtp.host}" 
              mail.smtp.auth="${mail.smtp.auth}" 
              mail.from="${mail.from}"
              mail.transport.protocol.rfc822="${mail.transport.protocol.rfc822}"
              mail.smtp.starttls.enable="${mail.smtp.starttls.enable}" />

    <Resource name="jdbc/itracker_ds" scope="Shareable" type="javax.sql.DataSource"
            url="${main.dataSource.jdbcUrl}"
            driverClassName="${main.dataSource.driverClass}"
            username="${main.dataSource.user}"
            password="${main.dataSource.password}"
            
            maxWait="300"
            maxActive="50"
            maxIdle="10"
            timeBetweenEvictionRunsMillis="10000"
            minEvictableIdleTimeMillis="60000" />

</Context>

